<div class="container-fluid">
    <!-- Page Heading -->
    <!-- <h1 class="h3 mb-2 text-gray-800">Tables</h1> -->
    <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
            href="https://datatables.net">official DataTables documentation</a>.</p> -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Blocs Table </h6>
        </div>
        <div class="card-body">
            <button style="float:right" class="btn btn-primary" routerLink="/dashboard/ajouterBloc">ajouter un bloc</button>
            <button style="float:right mr-1" class="btn btn-primary" routerLink="/dashboard/affecterblocafoyer">affecter bloc a foyer</button>
            <div class="table-responsive">
                <table class="table table-bordered" #dataTableElement id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Capacité</th>
                            <th>ID Foyer</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Capacité</th>
                            <th>ID Foyer</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let bloc of blocs">
                            <td>{{ bloc.idBloc }}</td>
                            <td>{{ bloc.nomBloc }}</td>
                            <td>{{ bloc.capaciteBloc }}</td>
                            <td (mouseenter)="setHoveredFoyer(bloc.foyer?.idFoyer)">
                                {{ bloc.foyer?.idFoyer }}
                            </td>
                            
                            <td class="actionButtons">
                                <button type="button" class="btn btn-danger mr-2" (click)="deleteBloc(bloc.idBloc)">Supprimer</button>
                                <button type="button" class="btn btn-info" [routerLink]="['/dashboard/editbloc', bloc.idBloc]">Modifier</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                

            </div>
        </div>
    </div>
    <app-foyer-info [foyerId]="HoveredFoyer"></app-foyer-info>
</div>
